@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>
<h3>@ViewBag.Error</h3>
<h3>@ViewBag.inner</h3>
<h2> SendEmail </h2> <br /> <br /> 
<form method = "post"
action = "Test"> <div class = "container"> <span class = "form-control-static"> Receiver: </span> <input class = "form-control"
type = "text"
name = "receiver" /> <br /> <span class = "form-control-static"> Subject: </span> <input class = "form-control"
type = "text"
name = "subject" /> <br /> <span class = "form-control-static"> Message: </span> <input class = "form-control"
type = "text"
name = "message" /> <br /> <input class = "btn btn-primary"
type = "submit"
value = "Send" /> </div> </form>  